.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('../../../src/assets/login-bg.png');
  .loginLeftplaceholder {
    flex: 1;
  }
  .loginForm {
    width: 360px;
    height: 320px;
    padding: 30px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
    border-radius: 0.8em;
    background: #78bccb;
    .loginLogo {
      text-align: center;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      margin-bottom: 24px;
      span {
        vertical-align: text-bottom;
        font-size: 18px;
        text-transform: uppercase;
        display: inline-block;
        color: #0c6b9f !important;
      }
      .companyName {
        color: #ec4539 !important;
        font-size: 16px;
        padding-left: 12px;
        font-weight: 700;
      }
    }
  }
  .loginRightplaceholder {
    flex: 1;
  }
}

.Domianlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f3f3f3;
  .DomianloginForm {
    width: 320px;
    height: 250px;
    -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
    border-radius: 0.4em;
    padding: 10px;
    background: #fff;
    .DomianloginLogo {
      text-align: left;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      margin-bottom: 24px;
      color: #0e9cb2;
      span {
        vertical-align: text-bottom;
        font-size: 16px;
        color: #2ab3ff;
        text-transform: uppercase;
        display: inline-block;
      }
    }
  }
}
