.dictWrap {
  display: flex;
  width: 100%;
  height: calc(~'100vh - 152px');
  overflow: auto;
  .menuLeft {
    flex: 1;
    min-width: 540px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 4px 0 rgba(224, 224, 224, 0.5);
    margin-right: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .menuRight {
    flex: 1;
    min-width: 540px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 4px 0 rgba(224, 224, 224, 0.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.sysUserWrap {
  .addBtn {
    .iconDom {
      display: inline-block;
      margin-right: 6px;
      font-size: 14px;
      color: #999;
    }
    vertical-align: middle;
    font-size: 16px;
    color: rgba(26, 179, 147, 1);
  }
}
